section.blur {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.6); 
    display: flex;
    justify-content: center;
    align-items: center;
}

section.headSearch {
    position: relative;
    background-color: white;
    width: 70vw;
    height: 80vh;
    overflow-y: auto;
    padding: 20px;
    border-radius: 1rem;
}

section.headSearch h2 {
    text-align: center;
    margin: 1rem;
}

button.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
