:root {
    --clr-primary: hsl(40, 45%, 87%);
    --сlr-secondary: hsl(34, 30%, 63%);

    --clr-text-primary: hsl(42, 20%, 8%);
    --clr-text-secondary: hsl(39, 15%, 18%);

    --padding-index-medium: 0.5rem;
    --margin-index-small: 0.5rem;
    --margin-index-medium: 1rem;
    --gap-index: calc(0.3rem + 1vh);

    --border-radius-index: 0.8rem;

    --text-index: 1rem;

    --transition-fast: 0.15s;
    --transition-medium: 0.3s;
}