section.preferences form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-content: center;
    gap: var(--gap-index);
}

section.preferences form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-index);
}

section.preferences h2 {
    text-align: center;
}

section.preferences select {
    background-color: var(--clr-primary);
    border: 0.1rem solid var(--clr-primary);
    color: var(--clr-text-primary);
    box-sizing: border-box;
    padding: var(--padding-index-small) var(--padding-index-medium);
}

section.preferences select::placeholder {
    color: var(--clr-text-primary);
    opacity: 0.9;
}

section.preferences select:focus {
    border: none;
    outline: none;
}