/* form */

section.products form {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: var(--gap-index);
}

section.products form input {
    flex: 1;

    background-color: var(--clr-primary);
    border: 0.1rem solid var(--clr-primary);
    color: var(--clr-text-primary);
    box-sizing: border-box;
    padding: var(--padding-index-small) var(--padding-index-medium);
}

section.products form input::placeholder {
    color: var(--clr-text-primary);
    opacity: 0.9;
}

section.products form input:focus {
    border: none;
    outline: none;
}

section.products form button {
    background-color: var(--clr-text-primary);
    border: 0.1rem solid var(--clr-text-primary);
    color: var(--clr-primary);
    box-sizing: border-box;
    padding: var(--padding-index-small) var(--padding-index-medium);
    cursor: pointer;

    transition: all var(--transition-medium);
}

section.products form button:hover {
    background-color: var(--clr-primary);
    color: var(--clr-text-primary);
}

/* ul */

section.products ul {
    display: flex;
    flex-direction: column;
    gap: var(--gap-index);
    padding-left: var(--padding-index-medium);
}

section.products ul li {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: var(--gap-index);
}

section.products ul li button {
    background-color: transparent;
    border: 0.1rem solid var(--clr-text-primary);
    color: var(--clr-text-primary);
    cursor: pointer;

    transition: var(--transition-medium);
}

section.products ul li button:hover {
    box-shadow: 0 0 0.3rem var(--clr-text-primary);
}